body{
    background-color: #ffe4c4ad;
    opacity: 0.9;
}
.div1{
    width: 70%;
            border-bottom: 1px solid black;
}
.div2{
    width:70%;
    min-height: 200px;
}
.name{
    margin: 130px;
    width:80%;
    text-align: right;

}
#demo2{
    margin-top:15px;
}
.author{
    #margin-top: 50px;
    #margin-right: 10px;
    #float:right;
    position: fixed;
    bottom: 700px;
    right: 150px;
}
.username{
    position: fixed;
    bottom: 650px;
    right: 280px;
}
.logout{
    position: fixed;
    bottom: 650px;
    right: 170px;
}
.time{
     #float:right;
    #font-size: 30px;
     position: fixed;
    bottom: 1000px;
    right: 200px;
}
