<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>留言板</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">

    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/js/it.js"></script>
</head>
<body>
<div id="tips1">
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert"
                aria-hidden="true">
            &times;
        </button>
        {{name}} 欢迎您使用留言板
    </div>
</div>
{% for message in get_flashed_messages() %}
<div class="alert alert-info alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
</div>
{% endfor %}
<div class="time">
    {{time}}
</div>
<div class="author">
    <img src="static/img/text.jpg" style="opacity:100%;">
</div>
<div class="username">
    {{name}}
</div>
<div class="logout">
    <a href="logout" style=" text-decoration:none;">注销</a>
</div>
{% if tips %}
<div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert"
            aria-hidden="true">
        &times;
    </button>
    现在还没有人留言，快来写第一条留言吧！
</div>
{% endif %}
{% for item in list %}
<div class="div1"></div>
<div class="div2">
    <p style="font-size:25px">{{ item[1] }}</p>
    <p class="name" style="font-size:15px">——{{ item[0]}}于{{ item[2]}}</p>
</div>
<div class="div1"></div>
{% endfor %}
<div id="demo2">
    <form action="submit" method="post">
        <textarea id="demo" name="message" cols=100 rows=15 style="resize: none">在这里提交留言~</textarea>
        <br>
        <input id="showtips" type="submit" value="提交" style="font-size:20px"/>
    </form>
    <div class="Gotop">
        <p><a id="bottom" href="#" title="Go Top">&uarr;</a></p>
    </div>
</div>
</body>
</html>